src/main/mule/git-doctus-cicd-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d24c4f9f-45fd-40d6-b28f-5727fbae0312" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-doctus-cicd-v2Flow" doc:id="1a4869e8-5e0b-44bd-a8b4-2fb21e0f6c80" >
		<http:listener doc:name="Listener" doc:id="422036a5-cfd6-4e2b-8044-ad9fc19a3a0b" config-ref="HTTP_Listener_config" path="/gitdoctuscicdv2"/>
		<ee:transform doc:name="Transform Message" doc:id="3a701c4d-be7d-476d-83d2-bb68080323de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"/gitdoctuscicdv2": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e267375d-b3dc-4bb7-a6c3-885f3e919bcc" message="#[payload]"/>
	</flow>
</mule>
